
<div style="background-image: url('/images/fisherman.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 100vh;">
</div>