@{
    ViewData["Title"] = "DashBoard";
}

<body style="
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('/images/binary.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <div style="color: mediumspringgreen; font-family: monospace; padding: 20px;">
        <h1>@ViewData["Title"]</h1>
        <button type="button" class="btn btn-success ms-2"
                onclick="location.href='@Url.Action("Index", "Login_records")'" style="color:white; border-color:mediumspringgreen;background-color:transparent;">
            Login Records
        </button>
        <button type="button" class="btn btn-info ms-2"
                onclick="location.href='@Url.Action("Index", "PageVisits")'" style=" color:white; border-color:mediumspringgreen; background-color:transparent; " >
            Page Visits
        </button>

       
    </div>
</body>
