@{
    ViewData["Title"] = "Home Page";
}

<body style="
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('/images/warn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <div style="text-align: center; color: mediumspringgreen; font-family: monospace; padding: 20px;">
        
        <h1> Welcome to Fpisher!</h1>
        <p>social engineering tool</p>
        <br>
        <p>Disclaimer: This tool is provided solely for educational and authorized security testing purposes.Users are responsible for obtaining proper permission before conducting any security assessments. The creator assumes no liability for misuse or illegal activities. Use responsibly — happy hacking!</p>
    </div>
</body>
    