@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('/images/isda.png'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            min-height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Welcome to FPisher!</h1>
        <p>Social Engineering</p>

        <a class="btn btn-primary btn-lg" style ="background-color : black ; border-color : greenyellow" asp-area="" asp-controller="Home" asp-action="DashBoard">Go to DashBoard</a>


    </div>
</div>
