@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('/images/binary.png'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            min-height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Welcome to FPisher!</h1>
        <p>Social Engineering</p>
        <p>Disclaimer: This tool is provided solely for educational and authorized security testing purposes.Users are responsible for obtaining proper permission before conducting any security assessments. The creator assumes no liability for misuse or illegal activities. Use responsibly — happy hacking!</p>
        <a class="btn btn-primary btn-lg" style="background-color : black; border-color:#2cf876; color: #2cf876;" asp-area="" asp-controller="Home" asp-action="DashBoard">Dash-Board</a>



</div>
